h1 {
    text-align: center;
    padding-top: 100px;
}
a {
    color: lightgreen;
}
.border-bottom {
    border-width: 960 px !important;
}
#top8 {
    text-align: center;
}
#boxed1 {
    padding-left: 100px;
    text-align: center;
}

mat-grid-tile {
    background-color: rgb(7, 16, 133);
    color: lightgreen;
}